*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: var(--main-duration) background-color;
  -o-transition: var(--main-duration) background-color;
  transition: var(--main-duration) background-color;

  --padding-s: 1rem;
  --padding-lg: 1.125rem;
  --border-r: 5px;
  --box-shad: 0px 4px 8px 0px rgb(0, 0, 0, 0.1);
  --line-h: 1.6;
  --main-duration: 0.25s;
}

html {
  font-size: 100%;
  color-scheme: light;
  overflow-x: hidden;
}

:root {
  --main-color: #3a7bfd;
  --check-background: linear-gradient(
    to left hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --bg-color: #fafafa;
  --bg-color-alt: #fff;
  --text-color: #484b6a;
  --text-color-alt: #9394a5;
  --text-color-alt-s: #d2d3db;
  --border-color: #e4e5f1;
  --mobile-img: url(./assets/bg-mobile-light.jpg);
  --desktop-img: url(./assets/bg-desktop-light.jpg);
}

html.dark {
  color-scheme: dark;
  --bg-color: #161722;
  --bg-color-alt: #25273c;
  --text-color: #cacde8;
  --text-color-alt: #4d5066;
  --text-color-alt-s: #777a92;
  --border-color: #393a4c;
  --mobile-img: url(./assets/bg-mobile-dark.jpg);
  --desktop-img: url(./assets/bg-desktop-dark.jpg);
}

body,
input,
button {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--bg-color);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app {
  position: relative;
}

.app .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

.background .image {
  background-image: var(--mobile-img);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 12.5rem;
}

@media (min-width: 576px) {
  .background .image {
    background-image: var(--desktop-img);
    height: 15.625rem;
  }
}

.container {
  width: min(100%, 50rem);
  min-height: 100vh;
  margin-inline: auto;
  padding: 2.5rem 1.5rem 3.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    padding: 3.125rem 1.5rem;
  }
}

.container .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .logo {
  font-size: 1.5rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
}

@media (min-width: 768px) {
  .main-header .logo {
    font-size: 1.75rem;
    letter-spacing: 0.75rem;
  }
}

.main-header .theme-toggle {
  -webkit-transform: scale(85%);
  -ms-transform: scale(85%);
  transform: scale(85%);
}

@media (min-width: 768px) {
  .main-header .theme-toggle {
    -webkit-transform: scale(100%);
    -ms-transform: scale(100%);
    transform: scale(100%);
  }
}

.app .main-content {
  margin-top: 2rem;
}

.main-content .main-form {
  background-color: var(--bg-color-alt);
  padding: var(--padding-s);
  border-radius: var(--border-r);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

@media (min-width: 768px) {
  .main-content .main-form {
    padding: var(--padding-lg);
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem;
  }
}

.main-form:hover .add-btn,
.main-form .add-btn.focus {
  border-color: var(--main-color);
}

.main-form .add-btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.375rem;
  height: 1.375rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  color: #fff;
  font-size: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--main-duration) border-color;
  -o-transition: var(--main-duration) border-color;
  transition: var(--main-duration) border-color;
}

.main-form .add-btn.active {
  background-image: -o-linear-gradient(
    left,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(192, 100%, 67%)),
    to(hsl(280, 87%, 65%))
  );
  background-image: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-color: var(--main-color);
}

.main-form input[type='text'] {
  border: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1rem;
  padding-block: 0.25rem;
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  caret-color: var(--main-color);
}

@media (min-width: 768px) {
  .main-form input[type='text'] {
    font-size: 1.125rem;
  }
}

.main-form input[type='text']::-webkit-input-placeholder {
  color: var(--text-color-alt);
}

.main-form input[type='text']::-moz-placeholder {
  color: var(--text-color-alt);
}

.main-form input[type='text']:-ms-input-placeholder {
  color: var(--text-color-alt);
}

.main-form input[type='text']::-ms-input-placeholder {
  color: var(--text-color-alt);
}

.main-form input[type='text']::placeholder {
  color: var(--text-color-alt);
}

.container .main-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.125rem;
}

@media (min-width: 768px) {
  .container .main-content {
    row-gap: 1.375rem;
  }
}

.main-content .todos-container {
  background-color: var(--bg-color-alt);
  border-radius: var(--border-r);
  -webkit-box-shadow: var(--box-shad);
  box-shadow: var(--box-shad);
}

.main-content .todos-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.todos-list .todo-item {
  padding: var(--padding-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.todo-item:hover .check-icon {
  border-color: var(--main-color);
}

@media (min-width: 768px) {
  .todos-list .todo-item {
    padding: var(--padding-lg);
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem;
  }
}

.todo-item .check-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  cursor: pointer;
  -webkit-transition: var(--main-duration) border-color;
  -o-transition: var(--main-duration) border-color;
  transition: var(--main-duration) border-color;
}

.todo-item.completed .check-icon {
  background-image: -o-linear-gradient(
    left,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(192, 100%, 67%)),
    to(hsl(280, 87%, 65%))
  );
  background-image: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-color: hsl(220, 98%, 61%);
}

.todo-item input[type='checkbox'] {
  display: none;
}

.todo-item .edit-inp {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-color);
  line-height: var(--line-h);
  caret-color: var(--text-color);
}

.todo-item.completed .edit-inp {
  caret-color: var(--text-color-alt-s);
  color: var(--text-color-alt-s);
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .todo-item .edit-inp {
    font-size: 1.125rem;
  }
}

.todo-item .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: var(--text-color);
  line-height: var(--line-h);
  -webkit-transition: var(--main-duration) color;
  -o-transition: var(--main-duration) color;
  transition: var(--main-duration) color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.todo-item.completed .content {
  color: var(--text-color-alt-s);
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .todo-item .content {
    font-size: 1.125rem;
  }
}

.todo-item .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btns .save-btn {
  color: #494c6b;
  font-size: 1.25rem;
  position: relative;
  top: 1px;
}

@media (min-width: 768px) {
  .btns .save-btn {
    font-size: 1.3125rem;
  }
}

.btns .edit-btn {
  color: #494c6b;
  font-size: 1.4375rem;
  position: relative;
  top: 1.5px;
}

.btns .delete-btn {
  -webkit-transform: scale(85%);
  -ms-transform: scale(85%);
  transform: scale(85%);
}

@media (min-width: 768px) {
  .btns .delete-btn {
    -webkit-transform: scale(100%);
    -ms-transform: scale(100%);
    transform: scale(100%);
  }
}

.todos-list .no-todos {
  color: var(--main-color);
  background-color: var(--bg-color-alt);
  border-radius: var(--border-r);
  padding: var(--padding-s);
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

@media (min-width: 768px) {
  .todos-list .no-todos {
    padding: var(--padding-lg);
    font-size: 1.125rem;
  }
}

.todos-container .todos-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: var(--padding-s);
  color: var(--text-color-alt);
}

@media (min-width: 768px) {
  .todos-container .todos-control {
    padding: var(--padding-lg);
  }
}

.todos-control .filter-btns {
  display: none;
}

@media (min-width: 768px) {
  .todos-control .filter-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}

.todos-control .clear-btn {
  color: inherit;
  font-size: 1rem;
  -webkit-transition: var(--main-duration) color;
  -o-transition: var(--main-duration) color;
  transition: var(--main-duration) color;
}

.todos-control .clear-btn:hover {
  color: var(--text-color);
}

.main-content > .filter-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: var(--padding-s);
  border-radius: var(--border-r);
  background-color: var(--bg-color-alt);
  -webkit-box-shadow: var(--box-shad);
  box-shadow: var(--box-shad);
}

@media (min-width: 768px) {
  .main-content > .filter-btns {
    display: none;
  }
}

.filter-btns .filter-btn {
  color: var(--text-color-alt);
  font-size: 1rem;
  -webkit-transition: var(--main-duration) color;
  -o-transition: var(--main-duration) color;
  transition: var(--main-duration) color;
  font-weight: bold;
  text-transform: capitalize;
}

.filter-btns .filter-btn:hover {
  color: var(--text-color);
}

.filter-btns .filter-btn.active {
  color: var(--main-color);
}

.main-content .empty {
  background-color: var(--bg-color-alt);
  border-radius: var(--border-r);
  padding: var(--padding-lg);
  -webkit-box-shadow: var(--box-shad);
  box-shadow: var(--box-shad);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.empty .initialize {
  padding: 0.75rem 1rem;
  font-size: 1.5625rem;
  color: var(--bg-color-alt);
  border-radius: var(--border-r);
  border: 3px solid var(--main-color);
  color: var(--main-color);
  -webkit-transition: var(--main-duration) background-color,
    var(--main-duration) color;
  -o-transition: var(--main-duration) background-color,
    var(--main-duration) color;
  transition: var(--main-duration) background-color, var(--main-duration) color;
}

.empty .initialize:hover {
  background-color: var(--main-color);
  color: var(--bg-color-alt);
}

.app .main-footer {
  color: var(--text-color);
  background-color: var(--bg-color-alt);
  border-radius: var(--border-r);
  margin-top: 1.125rem;
  padding: var(--padding-s);
  line-height: var(--line-h);
  -webkit-box-shadow: var(--box-shad);
  box-shadow: var(--box-shad);
  text-align: center;
}

@media (min-width: 768px) {
  .app .main-footer {
    margin-top: 1.375rem;
    padding: var(--padding-lg);
    font-size: 1.125rem;
  }
}

.main-footer .link {
  color: var(--main-color);
  text-decoration: none;
}
